<?xml version="1.0"?>
<!--
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<ruleset name="WordPress Coding Standards for plugins">
	<description>Sniffs for WordPress plugins, with minor modifications for Performance</description>

	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="7.2-"/>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName"/>
	</rule>
	<rule ref="WordPress-Docs">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress-Extra">
		<exclude name="Generic.CodeAnalysis.UselessOverridingMethod"/>
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="Universal.CodeAnalysis.ConstructorDestructorReturn.ReturnTypeFound"/>
		<exclude name="Universal.CodeAnalysis.ConstructorDestructorReturn.ReturnValueFound"/>
		<exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames.defaultFound"/>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="WordPress.WP.I18n"/>
	<config name="text_domain" value="wp-third-parties,default"/>

	<rule ref="SlevomatCodingStandard.Namespaces.DisallowGroupUse" />
	<rule ref="SlevomatCodingStandard.Namespaces.UseDoesNotStartWithBackslash" />
	<rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses" />
	<rule ref="SlevomatCodingStandard.Namespaces.UseFromSameNamespace" />
	<rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
		<properties>
			<property name="searchAnnotations" value="true" />
		</properties>
	</rule>

	<rule ref="Generic.Files.LineLength">
		<properties>
			<property name="lineLimit" value="120"/>
			<property name="absoluteLineLimit" value="0"/>
		</properties>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>

	<file>./inc</file>
	<file>./tests/phpunit</file>
</ruleset>
